html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
.button-board{
  display: flex;
  color:white;
  background-color: black;
  flex-direction: column;
  position: absolute;
  top: 0;
  right:0;
}

.button-board div{
  margin:4px;
}

.button-board label{
  margin-right:4px;
}

.button-board button{
color:white;
  background-color: black;
}
